[data-theme="dark"] {
    --primary-color: #1e1e1e;
    --secondary-color: #424242;
    --background-color: #121212;
    --container-bg-color: #1e1e1e;
    --container-shadow-color: rgba(255, 255, 255, 0.1);
    --input-bg-color: #333;
    --text-color: #eee;
    --link-color: #4a90e2;
    --button-bg-color: #4a90e2;
    --button-text-color: #fff;
    --button-border-color: transparent;
    --toggle-bg-gradient: linear-gradient(to right, #333, #666);
    --social-icon-border-color: #666;
    --social-icon-hover-border-color: #999;
}