[data-theme="default"] {
    --primary-color: #512da8;
    --secondary-color: #5c6bc0;
    --background-color: #c9d6ff;
    --background-color-gradient: #e2e2e2;
    --container-bg-color: #fff;
    --container-shadow-color: rgba(0, 0, 0, 0.35);
    --input-bg-color: #eee;
    --text-color: #333;
    --link-color: #333;
    --border-color: #fff;
    --button-bg-color: var(--primary-color);
    --button-text-color: #fff;
    --button-border-color: transparent;
    --toggle-text-color: #fff;
    --toggle-bg-gradient: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    --social-icon-border-color: #ccc;
    --social-icon-hover-border-color: #000;
}