.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust as needed */
}

.card {
    width: 100%;
    max-width: 400px;
    background-color: #f7dede;
    /* Light red */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #666;
    /* Dark gray */
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #d8a8a8;
    /* Light red */
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #a88383;
    /* Dark red */
    background-color: #f0d1d1;
    /* Light red */
}

input:focus {
    border-color: #5ea85e;
    /* Light green */
}

button {
    background-color: #5ea85e;
    /* Light green */
    color: #be3939;
    /* Dark red */
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #4d944d;
    /* Lighter green */
}